---json
{
  "title": "Salzburg",
  "country": "Austria",
  "permalink": "austria/salzburg/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Handling Touch with VueJs",
          "link": "https://lisilinhart.info/posts/touch-interaction-vue",
          "date": "2018-08-20",
          "author": "lisilinhart"
        }
      ]
    }
  ]
}
---
