/* BASE STYLES */

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.9rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 60ch;
  padding: 5rem 2rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: solid rgb(0, 0, 0);
  border-width: 0 0 5px;
  border-radius: 0;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 6px 5px 1px;
}

select:hover,
select:focus {
  color: #ff2884;
  border-color: red;
  outline: none;
}

option {
  color: #000000;
}

form {
  margin-bottom: 7rem;
}

ol {
  list-style: none;
  margin: 0 0 9rem;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0 0 4rem;
  padding: 0;
}

a {
  transition: 0.3s linear;
}

a:link,
a:visited {
  color: #ff2884;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 3.8rem;
  margin: 0 0 1.6rem;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 1rem;
}

a:focus,
a:hover {
  color: #333333;
}

/* COMPONENT STYLES */


.logo {
  font-size: 4.3rem;
  margin: 0 0 3rem;
}

.logo__inner {
  color: #ff2884;
}

.author:link,
.author:visited {
  color: #333333;
}

.post:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 1.6rem;
  padding-bottom: 1.2rem;
}

.post span {
  font-size: 1.6rem;
  display: block;
}

.filter__label {
  display: block;
}

@media (min-width: 768px) {
  body {
    font-size: 2.2rem;
  }

  ul {
    padding-left: 2rem;
  }

  h3 {
    margin-bottom: 2rem;
  }

  .filter__label {
    display: inline;
  }
}

/* HELPERS */

.visually-hidden {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
