<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>

  <meta name="description" content="{{ site.description }}" />
  <meta name="image" content="{{ site.url }}smimg.png">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="postedin">
  <meta itemprop="description" content="A list of web design and web development related articles by people from all over the world.">
  <meta itemprop="image" content="{{ site.url }}smimg.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="postedin">
  <meta name="twitter:description" content="A list of web design and web development related articles by people from all over the world.">
  <meta name="twitter:site" content="@mmatuzo">
  <meta name="twitter:image:src" content="{{ site.url }}smimg.png">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="postedin">
  <meta name="og:description" content="A list of web design and web development related articles by people from all over the world.">
  <meta name="og:image" content="{{ site.url }}smimg.png">
  <meta name="og:url" content="https://matuzo.github.io">
  <meta name="og:site_name" content="postedin">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">

  <link rel="stylesheet" href="style.css" />
</head>
