---json
{
  "title": "Warrington",
  "country": "UK",
  "permalink": "uk/warrington/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Stepping away from Sass",
          "link": "https://cathydutton.co.uk/posts/why-i-stopped-using-sass/",
          "date": "2019-01-01",
          "author": "cathydutton"
        }
      ]
    }
  ]
}
---
