---json
{
  "title": "Warrington",
  "country": "UK",
  "permalink": "uk/warrington/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "How I Moved My Blog To Forestry CMS",
          "link": "https://www.giftegwuenu.com/how-i-moved-my-blog-to-forestry-cms/",
          "date": "2019-01-21",
          "author": "giftegwuenu"
        },
        {
          "title": "Getting Started with Eleventy",
          "link": "https://www.giftegwuenu.com/getting-started-with-eleventy/",
          "date": "2019-01-16",
          "author": "giftegwuenu"
        }
      ]
    }
  ]
}
---
