---json
{
  "title": "Salzburg",
  "country": "Austria",
  "permalink": "austria/salzburg/index.html",
  "postsgroup": [
    {
      "year": "2018",
      "posts": [
        {
          "title": "The developer’s guide to native web animation",
          "link": "https://www.heartinternet.uk/blog/the-developers-guide-to-native-web-animation/",
          "date": "2019-01-08",
          "author": "lisilinhart"
        },
        {
          "title": "Handling Touch with VueJs",
          "link": "https://lisilinhart.info/posts/touch-interaction-vue",
          "date": "2018-08-20",
          "author": "lisilinhart"
        },
        {
          "title": "Principles of Mobile User Interfaces",
          "link": "https://medium.com/swlh/principles-of-mobile-user-interfaces-94661cca7c16",
          "date": "2018-01-14",
          "author": "lisilinhart"
        },
        {
          "title": "Getting started with GatsbyJS",
          "link": "https://medium.com/@lisilinhart/getting-started-with-gatsbyjs-8f1434cbf28e",
          "date": "2018-05-09",
          "author": "lisilinhart"
        }
      ]
    }
  ]
}
---
