---json
{
  "title": "Vienna",
  "country": "Austria",
  "permalink": "austria/vienna/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Static Indieweb pt2: Using Webmentions",
          "link": "https://mxb.at/blog/using-webmentions-on-static-sites/",
          "date": "2019-01-10",
          "author": "maxboeck"
        },
        {
          "title": "Static Indieweb pt1: Syndicating Content",
          "link": "https://mxb.at/blog/syndicating-content-to-twitter-with-netlify-functions/",
          "date": "2019-01-06",
          "author": "maxboeck"
        }
      ]
    },
    {
      "year": "2018",
      "posts": [
        {
          "title": "The Hurricane Web",
          "link": "https://mxb.at/blog/hurricane-web/",
          "date": "2018-09-16",
          "author": "maxboeck"
        },
        {
          "title": "Connection-Aware Components",
          "link": "https://mxb.at/blog/connection-aware-components/",
          "date": "2018-07-02",
          "author": "maxboeck"
        },
        {
          "title": "CSS Grid Admin Dashboard",
          "link": "https://mxb.at/blog/css-grid-admin-dashboard",
          "date": "2018-04-28",
          "author": "maxboeck"
        },
        {
          "title": "The Layouts of Tomorrow",
          "link": "https://mxb.at/blog/layouts-of-tomorrow/",
          "date": "2018-06-14",
          "author": "maxboeck"
        },
        {
          "title": "Semantic JSX",
          "link": "https://mxb.at/blog/semantic-jsx/",
          "date": "2018-06-02",
          "author": "maxboeck"
        },
        {
          "title": "Another Collection of Interesting Facts About CSS Grid",
          "link": "https://css-tricks.com/another-collection-of-interesting-facts-about-css-grid",
          "date": "2018-04-13",
          "author": "manuelmatuzovic"
        },
        {
          "title": "My Accessibility Journey: What I’ve Learned So Far",
          "link": "https://alistapart.com/article/my-accessibility-journey-what-ive-learned-so-far",
          "date": "2018-02-06",
          "author": "manuelmatuzovic"
        },
        {
          "title": "I Threw Away my Mouse",
          "link": "https://www.24a11y.com/2018/i-threw-away-my-mouse/",
          "date": "2018-12-16",
          "author": "manuelmatuzovic"
        },
        {
          "title": "Wie man als Speaker auf Konferenzen startet, Teil 2 – Vortrag, die Hürde Englisch und das Fazit",
          "language": "German",
          "link": "https://www.zeichenschatz.net/persoenliches/wie-man-als-speaker-auf-konferenzen-startet-teil-2-vortrag-die-huerde-englisch-und-das-fazit.html",
          "date": "2018-01-08",
          "author": "oliverschoendorfer"
        },
        {
          "title": "How to start with variable fonts on the web",
          "link": "https://www.zeichenschatz.net/typografie/how-to-start-with-variable-fonts-on-the-web.html",
          "date": "2018-05-28",
          "author": "oliverschoendorfer"
        },
        {
          "title": "How to use Quotes and Dashes in Russian Typography",
          "link": "https://www.zeichenschatz.net/typografie/how-to-use-quotes-and-dashes-in-russian-typography.html",
          "date": "2018-06-15",
          "author": "oliverschoendorfer"
        },
        {
          "title": "My first Chalkboard Lettering – How I did it and what I learned from it",
          "link": "https://www.zeichenschatz.net/typografie/my-first-chalkboard-lettering-how-i-did-it-and-what-i-learned-from-it.html",
          "date": "2018-06-25",
          "author": "oliverschoendorfer"
        },
        {
          "title": "Implementing a variable font with fallback web fonts",
          "link": "https://www.zeichenschatz.net/typografie/implementing-a-variable-font-with-fallback-web-fonts.html",
          "date": "2018-10-29",
          "author": "oliverschoendorfer"
        },
        {
          "title": "Tipps zur Bewerbung für ein Praktikum bei Design Agenturen",
          "language": "German",
          "link": "https://www.zeichenschatz.net/design/tipps-zur-bewerbung-fuer-ein-praktikum-bei-design-agenturen.html",
          "date": "2018-11-16",
          "author": "oliverschoendorfer"
        },
        {
          "title": "Real small caps and other OpenType Features in Apple Pages, Keynote and Numbers",
          "link": "https://www.zeichenschatz.net/typografie/real-small-caps-and-other-opentype-features-in-apple-pages-keynote-and-numbers.html",
          "date": "2018-11-23",
          "author": "oliverschoendorfer"
        }
      ]
    },
    {
      "year": "2017",
      "posts": [
        {
          "title": "Card Studio – Design Systeme in der Praxis strukturieren",
          "link": "https://www.produktbezogen.de/card-studio/",
          "date": "2017-10-18",
          "author": "bjoernganslandt"
        },
        {
          "title": "The Difference Between Explicit and Implicit Grids",
          "link": "https://css-tricks.com/difference-explicit-implicit-grids/",
          "date": "2017-08-10",
          "author": "manuelmatuzovic"
        },
        {
          "title": "Progressively Enhancing CSS Layout: From Floats To Flexbox To Grid",
          "link": "https://www.smashingmagazine.com/2017/07/enhancing-css-layout-floats-flexbox-grid/",
          "date": "2017-07-24",
          "author": "manuelmatuzovic"
        },
        {
          "title": "A Collection of Interesting Facts about CSS Grid Layout",
          "link": "https://css-tricks.com/collection-interesting-facts-css-grid-layout/",
          "date": "2017-07-21",
          "author": "manuelmatuzovic"
        },
        {
          "title": "Writing CSS with Accessibility in Mind",
          "link": "https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939",
          "date": "2017-09-18",
          "author": "manuelmatuzovic"
        },
        {
          "title": "Writing JavaScript with accessibility in mind",
          "link": "https://medium.com/@matuzo/writing-javascript-with-accessibility-in-mind-a1f6a5f467b9",
          "date": "2017-02-12",
          "author": "manuelmatuzovic"
        },
        {
          "title": "Building Skeleton Screens with CSS Custom Properties",
          "link": "https://css-tricks.com/building-skeleton-screens-css-custom-properties/",
          "date": "2017-08-30",
          "author": "maxboeck"
        },
        {
          "title": "Offline-Friendly Forms",
          "link": "https://mxb.at/blog/offline-forms/",
          "date": "2017-08-23",
          "author": "maxboeck"
        },
        {
          "title": "How to turn your website into a PWA",
          "link": "https://mxb.at/blog/how-to-turn-your-website-into-a-pwa/",
          "date": "2017-07-07",
          "author": "maxboeck"
        }
      ]
    },
    {
      "year": "2016",
      "posts": [
        {
          "title": "Wenn Pattern Libraries wachsen – Wie man Verantwortung und Code für Patterns im Unternehmen verteilt",
          "link": "https://www.produktbezogen.de/wenn-pattern-libraries-wachsen-verantwortung/",
          "date": "2016-10-11",
          "author": "bjoernganslandt"
        },
        {
          "title": "Beyond the grid — what’s next for responsive?",
          "link": "https://medium.com/@Ansimorph/beyond-the-grid-what-s-next-for-responsive-697c6e12fd50",
          "date": "2016-02-17",
          "author": "bjoernganslandt"
        },
        {
          "title": "Writing HTML with accessibility in mind",
          "link": "https://medium.com/alistapart/writing-html-with-accessibility-in-mind-a62026493412",
          "date": "2016-12-13",
          "author": "manuelmatuzovic"
        },
        {
          "title": "I totally forgot about print style sheets",
          "link": "https://uxdesign.cc/i-totally-forgot-about-print-style-sheets-f1e6604cfd6",
          "date": "2016-11-15",
          "author": "manuelmatuzovic"
        }
      ]
    },
    {
      "year": "2015",
      "posts": [
        {
          "title": "`flex-grow` is weird. Or is it?",
          "link": "https://css-tricks.com/flex-grow-is-weird/",
          "date": "2015-12-26",
          "author": "manuelmatuzovic"
        }
      ]
    }
  ]
}
---
