---json
{
  "title": "Essen",
  "country": "Germany",
  "permalink": "germany/essen/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Much Ado About No Lists",
          "link": "https://yatil.net/blog/much-ado-about-no-lists",
          "date": "2019-01-13",
          "author": "ericeggert"
        }
      ]
    }
  ]
}
---
