---json
{
  "title": "Austin",
  "country": "USA",
  "permalink": "usa/austin/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Accessible Page Navigation in Single Page Apps",
          "link": "https://daverupert.com/2019/01/accessible-page-navigations-in-single-page-apps/",
          "date": "2019-01-29",
          "author": "daverupert"
        },
        {
          "title": "Angular, Autoprefixer, IE11, and CSS Grid Walk into a Bar...",
          "link": "https://daverupert.com/2019/01/angular-autoprefixer-ie11-and-css-grid-walk-into-a-bar/",
          "date": "2019-01-07",
          "author": "daverupert"
        }
      ]
    }
  ]
}
---
