---json
{
  "title": "Boston",
  "country": "USA",
  "permalink": "usa/boston/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Reader Mode: The Button to Beat",
          "link": "https://css-tricks.com/reader-mode-the-button-to-beat/",
          "date": "2019-01-07",
          "author": "ericbailey"
        }
      ]
    }
  ]
}
---
