---json
{
  "title": "Boston",
  "country": "USA",
  "permalink": "usa/boston/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Paint the Picture, Not the Frame: How Browsers Provide Everything Users Need",
          "link": "https://alistapart.com/article/paint-the-picture-not-the-frame",
          "date": "2019-02-07",
          "author": "ericbailey"
        },
        {
          "title": " How do you figure?",
          "link": "https://www.scottohara.me/blog/2019/01/21/how-do-you-figure.html",
          "date": "2019-01-21",
          "author": "scottohara"
        },
        {
          "title": "\"Fixing\" Lists",
          "link": "https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html",
          "date": "2019-01-12",
          "author": "scottohara"
        },
        {
          "title": "Reader Mode: The Button to Beat",
          "link": "https://css-tricks.com/reader-mode-the-button-to-beat/",
          "date": "2019-01-07",
          "author": "ericbailey"
        }
      ]
    }
  ]
}
---
