---json
{
  "title": "Madison",
  "country": "USA",
  "permalink": "usa/madison/index.html",
  "postsgroup": [
    {
      "year": "2019",
      "posts": [
        {
          "title": "Creating Accessible SVGs",
          "link": "https://www.deque.com/blog/creating-accessible-svgs",
          "date": "2019-01-10",
          "author": "cariefisher"
        }
      ]
    }
  ]
}
---
